<div class="text-center">

<h1 class="text-center ">
<%= params[:question] %> </h1>
<p>It's<%= Time.now.strftime("%H/%M/%S") %> you twat ! <3 <p>
<a href="http://localhost:3000/ask">Do you have another question you idiot</a>
</div>
